<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<paysoncheckout2>
				<enabled>0</enabled>
				<test>1</test>
				<model>Eastlane\PaysonCheckout2\Model\Paysoncheckout2</model>
				<agent_id/>
				<api_key/>
				<checkout_theme>White</checkout_theme>
				<terms_url/>
				<capture_from_magento>1</capture_from_magento>
				<title>Payson Checkout</title>
			</paysoncheckout2>
		</payment>
	</default>
</config> 
