<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Shipping\Controller\Adminhtml\Order\Shipment\Save">
        <plugin name="Eastlane_PaysonCheckout2::shipmentCreatePaysonCheckout" type="Eastlane\PaysonCheckout2\Plugin\Controller\Adminhtml\Order\Shipment\Save" sortOrder="1" />
    </type>
</config>
