<?xml version="1.0"?>
<!--
/**
 * Copyright © 2018 Magento. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Controller\Cart\Index">
    	<plugin name="Eastlane_PaysonCheckout2:redirectToPaysonCheckout" type="Eastlane\PaysonCheckout2\Plugin\Controller\Checkout\Index" />
    </type>
    <type name="Magento\Checkout\Controller\Index\Index">
    	<plugin name="Eastlane_PaysonCheckout2:redirectToPaysonCheckout" type="Eastlane\PaysonCheckout2\Plugin\Controller\Checkout\Index" />
    </type>
    <type name="Magento\Checkout\Controller\Cart\UpdatePost">
    	<plugin name="Eastlane_PaysonCheckout2:UpdateCartItems" type="Eastlane\PaysonCheckout2\Plugin\Controller\Checkout\UpdateCart" />
    </type>

    <type name="Magento\Checkout\Controller\Cart\Delete">
    	<plugin name="Eastlane_PaysonCheckout2:deleteCartItems" type="Eastlane\PaysonCheckout2\Plugin\Controller\Checkout\DeleteItems" />
    </type>

    <type name="Magento\Directory\Controller\Currency\SwitchAction">
        <plugin name="Eastlane_PaysonCheckout2:switchAction" type="Eastlane\PaysonCheckout2\Plugin\Controller\Currency\SwitchAction" />
    </type>
</config>