<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="payment" showInDefault="1" type="text" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
			<group id="paysoncheckout2" showInDefault="1"  type="text" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>PaysonAB / Payson Checkout 2</label>
				<field id="enabled" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="0" translate="label" type="select">
					<label>Enabled</label>
					<comment>Tells Magento if Payson Checkout 2 should be used or not</comment>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="title" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Title</label>
				</field>
				<field id="allowspecific" translate="label" type="allowspecific" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Allowed countries</label>
					<source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
				</field>
				<field id="specificcountry" translate="label" type="multiselect" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Choose specific countries</label>
					<source_model>Magento\Directory\Model\Config\Source\Country</source_model>
					<can_be_empty>1</can_be_empty>
				</field>
				<field id="test" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="4" translate="label" type="select">
					<label>Test mode</label>
					<comment>Enable when using a sandboxed test agent</comment>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<depends>
						<field id="enabled">1</field>
					</depends>
				</field>
				<field id="agent_id" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="5" translate="label" type="text">
					<label>Agent ID</label>
					<comment>Identifies the client</comment>
					<depends>
						<field id="enabled">1</field>
					</depends>
				</field>
				<field id="api_key" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="6" translate="label" type="text">
					<label>API Key</label>
					<comment>Used in integration</comment>
					<depends>
						<field id="enabled">1</field>
					</depends>
				</field>
				<field id="checkout_theme" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="7" translate="label" type="select">
					<label>Checkout theme</label>
					<comment>Used in integration to render different colors in the checkout iframe</comment>
					<source_model>PaysonAB\PaysonCheckout2\Model\Config\Source\CheckoutTheme</source_model>
					<depends>
						<field id="enabled">1</field>
					</depends>
				</field>
				<field id="terms_url" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="8" translate="label" type="text">
					<label>Terms url</label>
					<comment>Url used in requests to Payson to make Payson able to show a terms link in their iframe, and add url with base url Ex: terms</comment>
                                        <validate>required-entry</validate>
					<depends>
						<field id="enabled">1</field>
					</depends>
				</field>
				<field id="capture_from_magento" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="9" translate="label" type="select">
					<label>Capture From Magento</label>
					<comment>Tells system if Magento should change status on checkout-resource when order is invoiced</comment>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<depends>
						<field id="enabled">1</field>
					</depends>
				</field>
				<field id="model"></field>
			</group>
		</section>
	</system>
</config>
